.start {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.start .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
}

.start .overlap-group {
    position: relative;
    height: 1024px;
}

.start .text-wrapper {
    width: 122px;
    top: 683px;
    left: 1022px;
    font-family: "Galdeano-Regular", Helvetica;
    font-size: 48px;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.start .image {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.start .div {
    position: absolute;
    width: 1440px;
    top: 251px;
    left: 0;
    font-family: "Holtwood One SC-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.start .rectangle {
    position: absolute;
    width: 373px;
    height: 125px;
    top: 646px;
    left: 515px;
    background-color: #121212;
    border-radius: 30px;
}

.start .text-wrapper-2 {
    width: 302px;
    top: 664px;
    left: 544px;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 64px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.start .text-wrapper-3 {
    position: absolute;
    width: 198px;
    top: 32px;
    left: 54px;
    font-family: "Glegoo-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
